@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
  color: #e2e8f0;
}

@layer utilities {
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }
}
